.jumbotron {
  background-color: #ca3435;
  color: #fff;
  padding: 8px;
}

.jumbotron .glyphicon {
  font-size: 72px;
  color: #004d00;
  text-shadow: 1px 1px #7a1f20;
}

.jumbotron h1 {
  font-size: 128px;
	font-family: 'Brush Script MT', cursive;
  text-shadow: 2px 2px #7a1f20;
}

.row {
  margin-top: 10px;
  margin-left: 150px;
  margin-right: 150px;
  font-size: 14px;
}

#pizza-entry {
  background-color: #FFF6E0;
  padding: 40px;
  padding-top: 10px;
  text-align: center;
  border-top-style: double;
  border-bottom-style: double;
  border-width: 9px;
  border-color: #ca3435;
}

#pizza-entry h1 {
	font-family: 'Brush Script MT', cursive;
  color: #004d00;
  font-size: 38px;
  padding-bottom: 10px;
  text-shadow: 1px 1px #fff0cc;
}

#pizza-entry p {
	font-weight: 300;
}

#show-receipt {
  display: none;
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
  font-weight: 300;
  box-shadow: 5px 5px #000;
  text-align: center;
  margin-left: 100px !important;
  margin-top: 80px !important;
  border-top-style: dotted;
  border-right-style: solid;
  border-bottom-style: dotted;
  border-width: 1px;
  border-color: #000;
  color: #666666;
}

#show-receipt .glyphicon {
  font-size: 24px;
}

.pizza-logo {
  font-family: 'Brush Script MT', cursive;
  font-size: 30px;
}

.btn {
  margin-top:10px;
}

body {
  background-image: url("../img/checkers.jpg");
  background-repeat: repeat;
}
