.jumbotron {
  background-color: #ca3435;
  color: #fff;
  padding: 20px;
}

.jumbotron .glyphicon {
  font-size: 72px;
  color: #004d00;
  margin-top: 5px;
}

.jumbotron h1 {
    font-size: 96px;
    font-family: sans-serif;
}

.row {
  margin-top: 50px;
  margin-left: 150px;
  margin-right: 150px;
  color: #ffdb4d;
  font-size: 14px;
}

.rules p {
  color: #fff;
}

.manWhoHangs {
  margin: 80px;
  background-color: #fff9cc;
  padding: 30px;
  text-align: center;
  font-size: 64px;
  font-weight: bold;
  margin-bottom: 140px;
}

.receipt {
  background-color: #fff;
  padding: 150px;
  padding-bottom: 250px;
  margin: 60px;
  margin-left: 150px;
  box-shadow: 5px 5px #000;
  text-align: center;
  /*margin-top: 372px;*/
}

.btn {
  margin-top: 10px;
}

body {
  /*background-color: #208CAC;*/
  background-image: url("../img/checkers.jpg");
  background-repeat: repeat;
}
